@import "./global";
main {
  font-size: 12px;
  #top-div {
    #items {
      font-size: 14px;
      color: white;
      list-style: none;
      text-align: center;
      line-height: 50px;
      li {
        width: 220px;
        height: 50px;
        background-color: #ff3c1b;
        overflow: hidden;
        position: relative;
        span{
          display: block;
          height: 100%;
          width: 100%;
          background-color: #000000;
        }
        img{
          position: absolute;
          left: 30px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }
}
