@import "./global";
.container {
  .col-2 {
    background-color: white;

    .left-menu-header {
      color: #ff3c1b;
      line-height: 40px;
      border-bottom: 1px dashed #dcdcdc;
    }

    #userCenter-menu {
      p {
        font-size: 14px;
      }
      a {
        font-size: 14px;
        padding: 0;
      }
      .active {
        border-left: 3px solid #ff3c1b;
      }
    }
  }
  .col-10 {
    .right-base {
      background-color: white;
      .right-header {
        line-height: 40px;
        border-bottom: 1px dashed #dcdcdc;
      }
      table {
        text-align: center;
        thead {
          tr:first-child {
            background-color: #f9f9f9;
          }
          p {
            text-align: start;
          }
        }
        tbody {
          background-color: #f9f9f9;
        }
      }
      #user-inform {
        #nav-tab {
          .active {
            border-top: 3px solid $mainColor;
            color: $mainColor;
          }
          a {
            border-top: 3px solid transparent;
            color: black;
          }
        }
        #nav-tabContent {
          .alert-warning {
            max-width: 700px;
            border: 1px solid #edd28b;
          }
          form {
            .sex-checkbox {
              line-height: 38px;
            }
            .btn {
              width: 200px;
              color: white;
              background-color: $mainColor;
            }
          }
          #head_img{
              #img-choose-base {
                width: 468px;
                height: 360px;
              }
              .btn {
                  background-color: $mainColor;
                  width: 100px;
                  color:white;
              }
              
          }
          #hobby {
              min-height: 110px;
              .btn {
                  width: 100px;
              }
          }
        }
      }

    }
  }
}
