.container .col-2 {
  background-color: white;
}

.container .col-2 .left-menu-header {
  color: #ff3c1b;
  line-height: 40px;
  border-bottom: 1px dashed #dcdcdc;
}

.container .col-2 #userCenter-menu p {
  font-size: 14px;
}

.container .col-2 #userCenter-menu a {
  font-size: 14px;
  padding: 0;
}

.container .col-2 #userCenter-menu .active {
  border-left: 3px solid #ff3c1b;
}

.container .col-10 .right-base {
  background-color: white;
}

.container .col-10 .right-base .right-header {
  line-height: 40px;
  border-bottom: 1px dashed #dcdcdc;
}

.container .col-10 .right-base table {
  text-align: center;
}

.container .col-10 .right-base table thead tr:first-child {
  background-color: #f9f9f9;
}

.container .col-10 .right-base table thead p {
  text-align: start;
}

.container .col-10 .right-base table tbody {
  background-color: #f9f9f9;
}
