body{
    width: 1200px;
    margin: 0 auto;
    background-color: #ccc;
}
/* 面包屑 */
#crumbs{
    width: 100%;
    margin-top:20px;
    padding: 0px 8px;
    font-size: 15px;
}
#crumbs span{
    color: #FE6856;
}
/* 选票 */
#buy-ticket{
    width: 100%;
    height: 450px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
/* 图片 */
#buy-ticket .left{
    margin: 0 20px;
}
/* 选票购坐 */
#buy-ticket .center{
    flex-grow: 2;
}
#buy-ticket .center span{
    color:#A8A8A8 ;
}
/* 购票进度 */
#buy-ticket .center .plan{
    height: 80px;
    margin-top: 10px;
    background-color: #EFEFEF;
}


#buy-ticket .center p{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    flex-wrap: wrap;
    color: #bbb;
}
#buy-ticket .center p span{
    width: 170px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: black;
    display: inline-block;
    border: 1px solid #bbb;
    vertical-align: middle;
}
#buy-ticket .center p span:hover{
    color: #FD8775;
}
#buy-ticket .center .price{
    display: flex;
}
#buy-ticket .center .price span{
    width: 74px;
    height: 45px;
    line-height: 45px;
    color: #bbb;
    font-size: 14px;
}
#buy-ticket .center .price .price-money{
    flex-grow: 2;
    display: flex;
    flex-wrap: wrap;
}
#buy-ticket .center .price .price-money div{
    width: 100px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin: 5px;
    border: 1px solid #bbb;
}
#buy-ticket .center .purchase{
    width: 120px;
    height: 40px;
    margin-left: 69px;
    margin-top: 25px;
    color: white;
    background-color: #FE6856;
    border: 0;
}
/* 评分 */
#buy-ticket .rigth{
    width: 230px;
    margin-left: 20px;
}
#buy-ticket .rigth .rigth-grade{
    width: 230px;
    list-style: none;
    padding: 0;
}
#buy-ticket .rigth .rigth-grade li{
    padding: 6px 0px;
    border-bottom: 1px dotted #bbb;
}
#buy-ticket .rigth .rigth-grade li:nth-last-child(1){
    border: 0;
}
#buy-ticket .rigth .rigth-grade li p{
    margin: 0;
}
#buy-ticket .rigth .rigth-grade li .rigth-score{
    font-weight: bold;
    font-size: 18px;
    color: #FD8775;
}
#buy-ticket .rigth .rigth-grade li .rigth-decimals{
    font-weight: bold;
    color: #FD8775;
}
#buy-ticket .rigth .rigth-grade li .rigth-count{
    color: #FD8775;
}
#buy-ticket .rigth .rigth-grade li span{
    font-size: 14px;
    color: #bbb;
}
#buy-ticket .rigth .rigth-grade li select{
    color: white;
    font-size: 14px;
    border: 0;
    outline: none;
    background-color: red;
}
#buy-ticket .rigth .rigth-grade li select option{
    background-color:#ccc;
    color: black;
}

/* 点评区 */
#comment{
    display: flex;
    margin-top: 20px;
}
/* 演出信息 */
#comment .message{
    flex-grow: 1;
    background-color: white;
}
#comment .message ul{
    list-style: none;
    padding: 0;
    display: flex;
}
#comment .message ul li{
    width: 120px;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
/* 热门推荐 */
#comment .hot{
    width: 230px;
    margin-left: 20px;
    background-color: white;
}